﻿@model CompanyInfoApp.ViewModel.ViewCompany

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        @foreach (var item in ViewBag.companyInfo as List<CompanyInfoApp.ViewModel.ViewCompany>)
        {
            if (item.IsEnable)
            {
                <dt>
                    @item.CustomPro
                </dt>
                <dd>
                    @item.Value
                </dd>
            }

        }

    </dl>
</div>
<p>
</p>
